.footer {
    background-color: #2D3748;
    color: #F7FAFC;
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  .footer p {
    margin: 0.5rem 0;
    color: #A0AEC0;
  }
  
  .footer p a {
    color: #38B2AC;
    text-decoration: underline;
  }
  